<html ng-app="store">
<head>
    <script type ="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angulardemo.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
<body ng-controller="StoreController as store">
    <div ng-repeat="product in store.product" ng-hide="product.soldOut">
    <h1> {{product.name}} </h1>
    <h2> {{product.price | currency}} </h2>
    <p> {{product.description}} <p>
        <h3> <img ng-src="{{product.images[0].full}}" height="200" width="300"></h3>
        
        
        
        <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)"> Description</a></li>
            <li ng-class="{ active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)"> Specifications</a></li>
            <li ng-class="{ active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)"> Reviews</a></li>
            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
            <blockquote> None yet </blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
            <b>
            Stars: {{review.stars}}
            </b>
            {{review.body}}
            <cite> by: {{review.author}}</cite>
           </blockquote>
        </div>
        </section>
        
        
        
        <button ng-show="product.canPurchase">Add to Cart</button>
     </div>
    <product-title></product-title>
</body>
</html>